
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Your very best website to view films">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>Hlamovies | Add Movie</title>

    <link id="favicon" rel="icon" href="https://cdn.glitch.com/2b137151-b92d-4e53-92f8-683f9efb93af%2FHlaMovies%20(2).png?v=1569001694600" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
   <%- include ("partials/nav") %>
    
    <form method="post" action="/add-movie"> 
    <center class="form container">
      <br>
    <h2>
      Add Movie
      </h2>
      <br>
      <br>
     <input style="width: 50%" type="text" name="title" placeholder="Title" required>
      <input style="width: 50%" type="text" name="image" placeholder="Image" required>
      <input style="width: 50%" type="text" name="date" placeholder="Date" required>
      <input style="width: 50%" type="text" name="duration" placeholder="Duration" required>
      <input style="width: 50%" type="text" name="age" placeholder="Age" required>
      <input style="width: 50%" type="text" name="categories" placeholder="Categories" required>
      <input style="width: 50%" type="text" name="rate" placeholder="IMDB Rate" required>
      <input style="width: 50%" type="text" name="watch" placeholder="Watch Online Link" required>
      <input style="width: 50%" type="text" name="download" placeholder="Download Link" required>
      <textarea style="width: 50%" type="text" name="story" placeholder="Story" required></textarea>
      <button type="submit" class="save-button" style="margin-bottom: 10px;">Add Movie</button>
      <br>
    </center>
    </form>
    <br>
    <br>
  </body>
</html>
